<!DOCTYPE html>
<html lang="en">

<head>
    <title>Code Off Duty</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css">

    <!-- FontAwesome CSS -->

    <link rel="stylesheet" href="static/css/font-awesome.min.css">

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="static/css/swiper.min.css">

    <!-- Styles -->
    <link rel="stylesheet" href="static/style.css">
    <script src="static/js/custom.js"></script>
    <style>
        .myimage {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>

<body>
    <header class="site-header">
        <div class="header-bar">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-10 col-lg-2 order-lg-1">
                        <div class="site-branding">
                            <div class="site-title">
                                <a href="#"><img src="static/images/logo.png" alt="logo"></a>
                            </div>
                            <!-- .site-title -->
                        </div>
                        <!-- .site-branding -->
                    </div>
                    <!-- .col -->

                    <div class="col-2 col-lg-7 order-3 order-lg-2">
                        <nav class="site-navigation">
                            <div class="hamburger-menu d-lg-none">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <!-- .hamburger-menu -->

                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Judges</a></li>
                                <li><a href="#">Blogs</a></li>
                                <li><a href="/team">Team</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </nav>
                        <!-- .site-navigation -->
                    </div>
                    <!-- .col -->

                    <div class="col-lg-3 d-none d-lg-block order-2 order-lg-3">
                        <div class="buy-tickets">
                            <a class="btn gradient-bg" href="#">Register</a>
                        </div>
                        <!-- .buy-tickets -->
                    </div>
                    <!-- .col -->
                </div>
                <!-- .row -->
            </div>
            <!-- .container-fluid -->
        </div>
        <!-- .header-bar -->

        <div class="swiper-container hero-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide" data-date="2018/05/01" style="background: url('static/images/header-bg.jpg') no-repeat">
                    <div class="hero-content">
                        <div class="container">
                            <div class="row">
                                <div class="col flex flex-column justify-content-center">
                                    <div class="entry-header">
                                        <div class="countdown flex align-items-center">
                                            <div class="countdown-holder flex align-items-baseline">
                                                <span class="dday"></span>
                                                <label>Days</label>
                                            </div>
                                            <!-- .countdown-holder -->

                                            <div class="countdown-holder flex align-items-baseline">
                                                <span class="dhour"></span>
                                                <label>Hours</label>
                                            </div>
                                            <!-- .countdown-holder -->

                                            <div class="countdown-holder flex align-items-baseline">
                                                <span class="dmin"></span>
                                                <label>Minutes</label>
                                            </div>
                                            <!-- .countdown-holder -->

                                            <div class="countdown-holder flex align-items-baseline">
                                                <span class="dsec"></span>
                                                <label>Seconds</label>
                                            </div>
                                            <!-- .countdown-holder -->
                                        </div>
                                        <!-- .countdown -->

                                        <h2 class="entry-title">Hackathon the place where creativity takes birth </h2>
                                    </div>
                                    <!--- .entry-header -->

                                    <div class="entry-footer">
                                        <a class="btn gradient-bg" href="#">Register here</a>
                                    </div>
                                    <!-- .entry-footer" -->
                                </div>
                                <!-- .col -->
                            </div>
                            <!-- .container -->
                        </div>
                        <!-- .hero-content -->
                    </div>
                    <!-- .swiper-slide -->
                </div>
                <!-- .swiper-wrapper -->

                <div class="swiper-slide" data-date="2019/05/01" style="background: url('static/images/header-bg.jpg') no-repeat">
                    <div class="hero-content">
                        <div class="container">
                            <div class="row">
                                <div class="col flex flex-column justify-content-center">
                                    <div class="entry-header">
                                        <div class="countdown flex align-items-center">
                                            <div class="countdown-holder flex align-items-baseline">
                                                <span class="dday"></span>
                                                <label>Days</label>
                                            </div>
                                            <!-- .countdown-holder -->

                                            <div class="countdown-holder flex align-items-baseline">
                                                <span class="dhour"></span>
                                                <label>Hours</label>
                                            </div>
                                            <!-- .countdown-holder -->

                                            <div class="countdown-holder flex align-items-baseline">
                                                <span class="dmin"></span>
                                                <label>Minutes</label>
                                            </div>
                                            <!-- .countdown-holder -->

                                            <div class="countdown-holder flex align-items-baseline">
                                                <span class="dsec"></span>
                                                <label>Seconds</label>
                                            </div>
                                            <!-- .countdown-holder -->
                                        </div>
                                        <!-- .countdown -->

                                        <h2 class="entry-title">One place where all work to build solutions</h2>
                                    </div>
                                    <!--- .entry-header -->

                                    <div class="entry-footer">
                                        <a class="btn gradient-bg" href="#">Register here</a>
                                    </div>
                                    <!-- .entry-footer" -->
                                </div>
                                <!-- .col -->
                            </div>
                            <!-- .container -->
                        </div>
                        <!-- .hero-content -->
                    </div>
                    <!-- .swiper-slide -->
                </div>
                <!-- .swiper-wrapper -->

                <div class="swiper-slide" data-date="2020/05/01" style="background: url('static/images/header-bg.jpg') no-repeat">
                    <div class="hero-content">
                        <div class="container">
                            <div class="row">
                                <div class="col flex flex-column justify-content-center">
                                    <div class="entry-header">
                                        <div class="countdown flex align-items-center">
                                            <div class="countdown-holder flex align-items-baseline">
                                                <span class="dday"></span>
                                                <label>Days</label>
                                            </div>
                                            <!-- .countdown-holder -->

                                            <div class="countdown-holder flex align-items-baseline">
                                                <span class="dhour"></span>
                                                <label>Hours</label>
                                            </div>
                                            <!-- .countdown-holder -->

                                            <div class="countdown-holder flex align-items-baseline">
                                                <span class="dmin"></span>
                                                <label>Minutes</label>
                                            </div>
                                            <!-- .countdown-holder -->

                                            <div class="countdown-holder flex align-items-baseline">
                                                <span class="dsec"></span>
                                                <label>Seconds</label>
                                            </div>
                                            <!-- .countdown-holder -->
                                        </div>
                                        <!-- .countdown -->

                                        <h2 class="entry-title">This is the best place <br>Join the hack league</h2>
                                    </div>
                                    <!--- .entry-header -->

                                    <div class="entry-footer">
                                        <a class="btn gradient-bg" href="#">Register here</a>
                                    </div>
                                    <!-- .entry-footer" -->
                                </div>
                                <!-- .col -->
                            </div>
                            <!-- .container -->
                        </div>
                        <!-- .hero-content -->
                    </div>
                    <!-- .swiper-slide -->
                </div>
                <!-- .swiper-wrapper -->
            </div>

            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>

            <!-- Add Arrows -->
            <div class="swiper-button-next flex justify-content-center align-items-center">
                <span><svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1171 960q0 13-10 23l-466 466q-10 10-23 10t-23-10l-50-50q-10-10-10-23t10-23l393-393-393-393q-10-10-10-23t10-23l50-50q10-10 23-10t23 10l466 466q10 10 10 23z"/></svg></span>
            </div>

            <div class="swiper-button-prev flex justify-content-center align-items-center">
                <span><svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1203 544q0 13-10 23l-393 393 393 393q10 10 10 23t-10 23l-50 50q-10 10-23 10t-23-10l-466-466q-10-10-10-23t10-23l466-466q10-10 23-10t23 10l50 50q10 10 10 23z"/></svg></span>
            </div>
        </div>
        <!-- .swiper-container -->
    </header>
    <!-- .site-header -->

    <div class="homepage-info-section">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4 col-lg-5">
                    <figure>
                        <img src="static/images/logo-2.png" alt="logo">
                    </figure>
                </div>

                <div class="col-12 col-md-8 col-lg-7">
                    <header class="entry-header">
                        <h2 class="entry-title"></h2>
                    </header>

                    <div class="entry-content">
                        <p>An immense 48hrs hackethon filled with fun and innovative ideas.We are aimed to bring young talented, developers,Programmers and designers across the country to collaborate to build innovative projects from scratch
                        </p>
                    </div>

                    <footer class="entry-footer">
                        <!-- <a href="#" class="btn gradient-bg">Read More</a> -->
                        <a href="#" class="btn dark">Register Now</a>
                    </footer>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row elements-wrap">
                <div class="col-12">
                    <header class="entry-header elements-heading">
                        <h2 class="entry-title">About Code-off-Duty</h2>
                    </header>

                    <div class="entry-content elements-container">
                        <div class="row">
                            <div class="col-12 col-sm-6 col-md-4">
                                <div class="icon-box">
                                    <div class="flex justify-content-between align-items-center">
                                        <figure>
                                            <img src="static/images/icon-1.png" alt="">
                                        </figure>

                                        <header class="entry-header">
                                            <h3 class="entry-title">48hrs Coding</h3>
                                        </header>
                                    </div>

                                    <div class="entry-content">
                                        <p>Interactive practise and challenge</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-sm-6 col-md-4">
                                <div class="icon-box">
                                    <div class="flex justify-content-between align-items-center">
                                        <figure>
                                            <img src="static/images/icon-2.png" alt="">
                                        </figure>

                                        <header class="entry-header">
                                            <h3 class="entry-title">Talks</h3>
                                        </header>
                                    </div>

                                    <div class="entry-content">
                                        <p>Will be updated</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-sm-6 col-md-4">
                                <div class="icon-box">
                                    <div class="flex justify-content-between align-items-center">
                                        <figure>
                                            <img src="static/images/icon-3.png" alt="">
                                        </figure>

                                        <header class="entry-header">
                                            <h3 class="entry-title">Workshops</h3>
                                        </header>
                                    </div>

                                    <div class="entry-content">
                                        <p>Will be updated</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <div class="homepage-featured-events">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="featured-events-wrap flex flex-wrap justify-content-between">
                        <div class="event-content-wrap positioning-event-1">

                            <figure>
                                <a href="#"><img src="static/images/1.jpg" alt="1"></a>
                            </figure>

                            <header class="entry-header">
                                <h3 class="entry-title">Michael Smith in concert</h3>

                                <div class="posted-date">August 25</div>
                            </header>
                        </div>

                        <div class="event-content-wrap positioning-event-2">
                            <figure>
                                <a href="#"><img src="static/images/2.jpg" alt=""></a>
                            </figure>

                            <header class="entry-header">
                                <h3 class="entry-title">Street art fest</h3>

                                <div class="posted-date">November 28</div>
                            </header>
                        </div>

                        <div class="event-content-wrap positioning-event-3">
                            <figure>
                                <a href="#"><img src="static/images/3.jpg" alt=""></a>
                            </figure>

                            <header class="entry-header">
                                <h3 class="entry-title">Anabelle in concert</h3>

                                <div class="posted-date">August 28</div>
                            </header>
                        </div>

                        <div class="event-content-wrap positioning-event-4 half">
                            <figure>
                                <a href="#"><img src="static/images/events-in-london.jpg" alt=""></a>
                            </figure>
                        </div>

                        <div class="event-content-wrap positioning-event-5 half">
                            <figure>
                                <a href="#"><img src="static/images/check-july.png" alt=""></a>
                            </figure>
                        </div>

                        <div class="event-content-wrap positioning-event-6 half">
                            <figure>
                                <a href="#"><img src="static/images/summer-festivals.jpg" alt=""></a>
                            </figure>
                        </div>

                        <div class="event-content-wrap positioning-event-7">
                            <figure>
                                <a href="#"><img src="static/images/90.jpg" alt=""></a>
                            </figure>

                            <header class="entry-header">
                                <h3 class="entry-title">90’s Disco Night</h3>

                                <div class="posted-date">August 28</div>
                            </header>
                        </div>

                        <div class="event-content-wrap positioning-event-8">
                            <figure>
                                <a href="#"><img src="static/images/modern.jpg" alt="1"></a>
                            </figure>

                            <header class="entry-header">
                                <h3 class="entry-title">Modern Ballet</h3>

                                <div class="posted-date">August 25</div>
                            </header>
                        </div>

                        <div class="event-content-wrap positioning-event-9">
                            <figure>
                                <a href="#"><img src="static/images/smoke.jpg" alt=""></a>
                            </figure>

                            <header class="entry-header">
                                <h3 class="entry-title">Smoke show</h3>

                                <div class="posted-date">August 28</div>
                            </header>
                        </div>

                        <div class="event-content-wrap positioning-event-10 half">
                            <figure>
                                <a href="#"><img src="static/images/summer-festival.jpg" alt=""></a>
                            </figure>
                        </div>

                        <div class="event-content-wrap positioning-event-11 half">
                            <figure>
                                <a href="#"><img src="static/images/autumn.jpg" alt=""></a>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="homepage-info-section">
        <div class="container">
            <div class="row elements-wrap">
                <div class="col-12">
                    <header class="entry-header elements-heading">
                        <h2 class="entry-title">The Organisor</h2>
                    </header>
                    <img src="static/images/oxford.png" alt="" style="width:20%;" class="myimage">
                    <h2 style="text-align: center;" class="entry-title">Coder's Club</h2>
                    <h2 style="text-align: center;">The Oxford College of Engineering</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="homepage-regional-events">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="events-partners">
                        <header class="entry-header">
                            <h2 class="entry-title">Partners</h2>
                        </header>

                        <div class="events-partners-logos flex flex-wrap justify-content-between align-items-center">
                            <div class="event-partner-logo">
                                <a href="#"><img src="static/images/pixar.png" alt=""></a>
                            </div>

                            <div class="event-partner-logo">
                                <a href="#"><img src="static/images/the-pirate.png" alt=""></a>
                            </div>

                            <div class="event-partner-logo">
                                <a href="#"><img src="static/images/himalayas.png" alt=""></a>
                            </div>

                            <div class="event-partner-logo">
                                <a href="#"><img src="static/images/sa.png" alt=""></a>
                            </div>

                            <div class="event-partner-logo">
                                <a href="#"><img src="static/images/south-porth.png" alt=""></a>
                            </div>

                            <div class="event-partner-logo">
                                <a href="#"><img src="static/images/himalayas.png" alt=""></a>
                            </div>

                            <div class="event-partner-logo">
                                <a href="#"><img src="static/images/sa.png" alt=""></a>
                            </div>

                            <div class="event-partner-logo">
                                <a href="#"><img src="static/images/south-porth.png" alt=""></a>
                            </div>

                            <div class="event-partner-logo">
                                <a href="#"><img src="static/images/pixar.png" alt=""></a>
                            </div>

                            <div class="event-partner-logo">
                                <a href="#"><img src="static/images/the-pirate.png" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <figure class="footer-logo">
                        <a href="#"><img src="static/images/logo.png" alt="logo"></a>
                    </figure>

                    <nav class="footer-navigation">
                        <ul class="flex flex-wrap justify-content-center align-items-center">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Events</a></li>
                            <li><a href="#">News</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </nav>

                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>
                        document.write(new Date().getFullYear());
                    </script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

                    <div class="footer-social">
                        <ul class="flex flex-wrap justify-content-center align-items-center">
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <div class="back-to-top flex justify-content-center align-items-center">
        <span><svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1395 1184q0 13-10 23l-50 50q-10 10-23 10t-23-10l-393-393-393 393q-10 10-23 10t-23-10l-50-50q-10-10-10-23t10-23l466-466q10-10 23-10t23 10l466 466q10 10 10 23z"/></svg></span>
    </div>

    <script type='text/javascript' src='static/js/jquery.js'></script>
    <script type='text/javascript' src='static/js/masonry.pkgd.min.js'></script>
    <script type='text/javascript' src='static/js/jquery.collapsible.min.js'></script>
    <script type='text/javascript' src='static/js/swiper.min.js'></script>
    <script type='text/javascript' src='static/js/jquery.countdown.min.js'></script>
    <script type='text/javascript' src='static/js/circle-progress.min.js'></script>
    <script type='text/javascript' src='static/js/jquery.countTo.min.js'></script>
    <script type='text/javascript' src='static/js/custom.js'></script>

</body>

</html>